
#cart{
  position: absolute;
    left: 96%;
    top: 50%;
    cursor: pointer;
}
.material-symbols-outlined {
    font-size: 20px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

