<div id="container">

    <div id="form-container">
        <h1>SignUp</h1>
        <form #signup="ngForm" (ngSubmit)="onSubmit()">
            <label for="email">Email</label>
            <input type="email">

            <label for="pasword">Password</label>
            <input type="password">

            <input type="submit" value="signup" >
        </form>
        <br>
        <h4>Don't have acount yet?</h4>
        <a href="#">Create acount</a>
    </div>

    <div id="image-container">
        <h2 id="planet">🪐</h2>
        <div id="card">
            <h1>Tu destino de compras en un clic, ¡nuestra tienda, tu elección!</h1>
            <br>

        </div>
        <h2 id="planet">🪐</h2>

    </div>
</div>
