<div id="container">
    <div id="form-container">
        <h1>SignUp</h1>
        <form #signup="ngForm" (ngSubmit)="onSubmit()">
            <label for="email">Email</label>
            <input type="email">
    
            <label for="pasword">Password</label>
            <input type="password">
    
            <input type="submit" value="signup" >
        </form>
    </div>
    
    <div id="image-container">
        <div id="card">
            <h1>Crea todo un universo comprando en Stringfy</h1>
        </div>
        
    </div>
</div>
